{% extends 'authentication/forms.html' %}

{% load static %}

{% block auth_title %}
    <title> Sign In </title>
{% endblock %}

{% block auth %}
<!-- Sing in  Form -->
<span class="login100-form-title p-b-34 p-t-27">
    Sign in
</span>

<div class="wrap-input100 validate-input" data-validate = "Enter Username">
    <input class="input100" type="text" name="username" placeholder="Username">
    <span class="focus-input100" data-placeholder="&#xf207;"></span>
</div>

<div class="wrap-input100 validate-input" data-validate="Enter password">
    <input class="input100" type="password" name="password" placeholder="Password">
    <span class="focus-input100" data-placeholder="&#xf191;"></span>
</div>

<div class="contact100-form-checkbox">
    <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
    <label class="label-checkbox100" for="ckb1">
        Remember me
    </label>
</div>
{% for field in login_form %}
    {% for error in field.errors %}
        <small style="color: red;">
            {{ error }}
        </small>
    {% endfor %}
{% endfor %}
<div class="container-login100-form-btn">
    <button class="login100-form-btn" type="submit">
        Login
    </button>
</div>

<div class="text-center p-t-40">
    <a class="txt1" href="{% url 'password_reset' %}">
        Forgot Password?
    </a>
    <a href="{% url 'signup' %}" class="signup-image-link">
        Create an account
    </a>
</div>
{% endblock %}