{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Password Reset</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="{% static 'passwordreset/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'passwordreset/css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'passwordreset/css/passwordreset.css' %}" rel="stylesheet" />              
    </head>
    <body>
        <nav class="navbar navbar-default py-5 myNav">
            <div class="container-fluid"> 
                <div class="navbar-header">            
                    <a class="navbar-brand" href="{% url 'home' %}"><img class="myLogo" src="{% static 'authentication/img/blog_logo.png' %}"/></a>
                </div>           
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 content">
                    <div class="title">
                        <h2 class="text-center"><strong>Change Password</strong></h2>
                        <p class="text-center"><strong>New Password should be different from Old Password</strong></p>
                    </div>
                    <div class="myForm">
                        <form id = "password_change_form" method="POST">
                          {% csrf_token %}
                            <div>
                                <label for="password">Old Password</label><br/>
                                <input class="myInput" name="old_password" placeholder="Enter old password" type="password" id="id_old_password">
                            </div>
                            <div class="topd">
                                <label for="confirm_password">New Password</label><br/>
                                <input class="myInput" name="new_password1" placeholder="Enter new password" type="password" id="id_new_password1">
                            </div>
                            <div class="topd">
                                <label for="confirm_password">Confirm Password</label><br/>
                                <input class="myInput" type="password" name="new_password2" placeholder="Confirm New password" id=""id_new_password2">
                            </div>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <small style="color: red;"> {{ error }} </small>
                                {% endfor %} 
                            {% endfor %}
                            <button type="submit" class="resetBtn">
                                Reset Password
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>      
      
        
       <script src="{% static 'passwordreset/js/jquery-3.4.1.min.js' %}"></script>          
       <script src="{% static 'passwordreset/js/bootstrap.min.js' %}"></script>
    </body>
</html>