{% extends 'password/password.html' %}


{% block password %}
<div class="container">
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 content">
          <div class="title">
              <h2 class="text-center"><strong>Enter your email</strong></h2>
          </div>
          <div class="myForm">
              <form method="POST">
                {% csrf_token %}
                  <div>
                      <label for="password">Email Address</label><br/>
                      <input class="myInput" name="email" placeholder="Enter email address" type="email" id="id_email" required=True>
                  </div>
                  
                  <button type="submit" class="resetBtn">
                      Request Password Reset
                  </button>
              </form>
          </div>
      </div>
      <div class="col-md-4"></div>
  </div>
</div>    
{% endblock %}

