{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Password Reset</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="{% static 'passwordreset/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'passwordreset/css/bootstrap.css' %}" rel="stylesheet" />
        <link href="{% static 'passwordreset/css/passwordreset.css' %}" rel="stylesheet" />              
    </head>
    <body>
        <nav class="navbar navbar-default py-5 myNav">
            <div class="container-fluid"> 
                <div class="navbar-header">            
                    <div class="navbar-brand"></a><img class="myLogo" src="{% static 'authentication/img/blog_logo.png' %}"/></div>
                </div>           
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 content">
                    <div class="title">
                        <h3 class="text-center">
							<strong>Your password has been changed successfully. You can <a href="{% url 'sigin' %}">sign in</a> now.</strong>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>