html,
body {
    overflow-x: hidden;
           
}


.myNav{
    background-color: white !important;
    border: none !important;
}

.myLogo{
    width:80px;
}

.title p{
    font-size: 12px;
}

.myForm {
    margin-top: 10%;
}

.topd{
    margin-top: 6%;
}

.myInput{
    width: 350px;
    height: 30px;
    border: 1px solid #c3cccc;
    padding-left: 3%;
    font-style: italic;
    color: #c3cccc;
}

.resetBtn{
    background-color: #041F65;
    color: white;
    width:350px;
    border-color: #041F65;
    border-radius: 4px;
    margin-top: 4%;
    margin-bottom: 8%;
}

@media (min-width: 350px) and (max-width: 540px) {
    .myLogo{
        width:50px;
    }
}


.footerClass{
    background-color: #041F65;
    color: white;
    margin-top: 6%;
}

.fImage{
    bottom:50px;
}

.ffd{
    margin-top: 4%;
}

hr{
    margin-top:1px !important;
}

.footerLink{
    list-style-type: none;
    display: flex;   
    margin-bottom: -5%;
     
}

.footerLink li{
    padding-left: 5px;
    padding-right: 15px;
}

.sfLink{
    list-style-type: none;
    display: flex;
    margin-left:15%;
}

.sfLink li{
    padding-left: 10px;
    padding-right: 10px;
}



@media (min-width: 360px) and (max-width: 950px){   

    .footerLink{          
        margin-bottom: 0;
         
    } 
    .mySearch{
        margin-left: 4%;
    }

    .footerClass{
        color:white;
        background-color: #041F65;
        margin-top: 3%;
        position: absolute;
        right: 0;
        bottom: 0 !important;
        left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .fImage{
        bottom:0;
    }

    .content{
        margin-top: 15%;
    }
}

@media(min-width:350px) and (max-width:370px){
    .myInput{
        width:320px;
    }

    .resetBtn{
        width:320px;
    }
}

